<!DOCTYPE html>
<html>
<head>
  <title>About - Rhythm & Reality</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>About Rhythm & Reality</h1>
  <p> Rhythm & Reality is a podcast that dives deep into the minds of underground artists, exploring the stories behind the music and the lives behind the lyrics. Hosted by Bilal Zakaria Dewarder, each episode blends raw conversation with creative expression—bringing you honest, unfiltered dialogue about art, struggle, ambition, and the culture that shapes it all.      </p>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/music">Music</a>
  </nav>
</body>
</html>